<ion-card>
  <ion-card-header>
    <ion-card-title >Add New Card to Wallet</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
        label="Card Number" 
        labelPlacement="stacked"
        maxlength="16"
        required="true"
        [clearInput]="true"
        [(ngModel)]="tarjeta.Numero"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Month" 
        type="number" 
        labelPlacement="stacked"
        maxlength="2"
        required="true"
        [clearInput]="true"
        [(ngModel)]="tarjeta.Mes"
        >
        </ion-input>
        
        <ion-input 
        label="Year" 
        type="number" 
        labelPlacement="stacked"
        maxlength="4"
        required="true"
        [clearInput]="true"
        [(ngModel)]="tarjeta.Ano"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="CVV" 
        type="password" 
        labelPlacement="stacked"
        maxlength="3"
        required="true"
        [clearInput]="true"
        [(ngModel)]="tarjeta.CVV"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
        label="Name on Card" 
        labelPlacement="stacked"
        required="true"
        [clearInput]="true"
        [(ngModel)]="tarjeta.Nombre"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button>Add Card</ion-button>
  </ion-card-content>
</ion-card>